{% extends '::base.html.twig' %}

{% block body -%}
    <div class="font-weight-bold" style="font-size: 16pt">
        {{ entity.titulo }}
    </div>
    <div style="background-color: #DCDCDC; padding: 1%">
        <span class="font-weight-bold">Sumario: </span>{{ entity.sumario }}</div> 
    <div>{{ entity.conteudo }}</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('post_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
